body {
  padding-top: 50px;
  padding-bottom: 20px;
}

tbody, td {
    height: 100%;
    max-width: 840px;
    border: solid 1px #DCDCDC;
    vertical-align: middle;
}

.table_title { 
 font-weight: bold;
}

.table_author {
 font-style: italic;
 font-size: 85%;
}

.table_chair {
    background-color: #DCDCDC;
    font-weight: bold;
    height: 30px;
}

td.session {
    background-color: #DCDCDC;
    height: 100%;
}

div.session {
    background-color: #FFFFFF;
    width: 96%;
    height: 100%;
    padding-top: 10px;
}

.navbar-form {
  padding-right: 30px;
}

#talks th {
  vertical-align: top;
  text-align: right;
  padding: 5px 5px 5px 10px;
}

.speaker_name {
  font-size: large;
  font-weight: bold;
}